body {
  color: #D2D2D2;
}

#header_top {
  width: 100%;
  padding: 20px 0px;
  background-color: white;
  position: fixed;
  top:0;
  left:0;
  z-index: 1
}

#header_top ul {
  margin-bottom: 0px;
}

#header_top li a{
  text-decoration: none;
  list-style: none;
  margin-bottom: 0px;
  color: #031B4E;
}

#header_top li {
  display: inline-block;
  padding:5px 10px;
}

#header_top li a:hover {
  color: #006AFC;
}

#list_right li {
  padding: 0px 10px;
}

#btn_signin {
  color: #006AFC;
  border: 1px solid #006AFC;
}

#btn_signin:hover {
  color: white;
  background-color: #006AFC;
}

#hamb_icon {
  color: #006AFC;
  font-size: 20px;
  vertical-align: sub;
}

header img {
  height: 30px;
}

#jumbotron{
  margin-top: 70px;
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-size: cover;
}

#title {
  width: 100%;
  margin-top: 70px;
}

#title h1 {
  font-size: 44px;
  color: white;
}

#title p,
#deploy p {
  font-size: 24px;
}

#login_box {
  color: black;
  padding: 20px 15px;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 70px;
}

#login_box h3 {
  font-size: 30px;
  color: #006AFC;
  margin: 0px;
  margin-bottom: 20px;
}

#email, #pw, #btn_account, #btn_gmail{
  margin: 6px 0px;
  width: 100%;
  padding: 10px;
}

#btn_account{
  color: white;
  background-color: #0080FF;
}

#btn_gmail {
  position: relative;
}

#google{
  position: absolute;
  left:5px;
  top:5px;
}

#business {
  background-color: #F3F5F9;
  padding: 40px 0px;

}

#business h4 {
  color: #5B6987;
}

#logos_box  {
  margin: 40px 0px;
}

#logos_box li {
  display: inline-block;
  padding-right: 40px;
  list-style: none;
}

#logos_box li img {
  height: 100px;
}

#business a {
  font-size: 18px;
}

#deploy {
  color: #5B6987;
  margin-top: 60px;
  height: 500px;
}

#deploy h2,
#deploy h3 {
  color: #031B4E;
  margin-left: 20px;
}

#deploy > p {
  padding-left :15px;
}

#deploy_list {
  border-left: 1px solid;
  margin-top: 60px ;
  line-height: 50px;

}

#deploy_list li {
  list-style: none;
  font-size: 20px;
  padding: 0;
}

#deploy_list li a {
  color: #5B6987;
  text-decoration: none;
}

#deploy_list li a:hover {
  color: #006AFC;
}

#deploy_list ul {
    padding: 10px;
}

.deploy_text {
  margin-top: 30px;
}






























@media screen and (min-width:768px ) {

  #login_box {
    margin: 70px 0px;
  }

  #title {
    width: 90%
  }

  #title p {
    font-size: 22px;
  }

  #deploy {
    width: 80%;
    margin: 60px auto;
    text-align: center;
  }

  #deploy_list{
    text-align: left;
  }
}

@media screen and (min-width:1200px) {

  #title h1 {
    font-size: 55px;
  }

  #logos_box li {
    padding-right: 10px;
  }

  #logos_box {
    text-align: center;
  }

  #deploy_text {
    margin-top: 60px;
  }

  #deploy_text_fix {
    padding-top: 35px;
  }

}
