body {
  color: #D2D2D2;
}

#header_top {
  width: 100%;
  padding: 20px 0px;
  background-color: white;
  position: fixed;
  top:0;
  left:0;
  z-index: 1
}

#header_top ul {
  margin-bottom: 0px;
}

#header_top li a{
  margin-bottom: 0px;
  color: #031B4E;
}

#header_top li {
  display: inline-block;
  padding:5px 10px;
}

#header_top li a:hover {
  color: #006AFC;
}

#list_right li {
  padding: 0px 10px;
}

#btn_signin {
  color: #006AFC;
  border: 1px solid #006AFC;
}

#btn_signin:hover {
  color: white;
  background-color: #006AFC;
}

#hamb_icon {
  color: #006AFC;
  font-size: 20px;
  vertical-align: sub;
}

header img {
  height: 30px;
}

#jumbotron{
  margin-top: 70px;
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-size: cover;
}

#title {
  width: 100%;
  margin-top: 85px;
}

#title h1 {
  font-size: 44px;
  color: white;
}

#title p,
#design p {
  font-size: 22px;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

#login_box {
  color: black;
  padding: 20px 15px;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 70px;
}

#login_box h3 {
  font-size: 30px;
  color: #006AFC;
  margin: 0px;
  margin-bottom: 20px;
}

#email, #pw, #btn_account, #btn_gmail{
  margin: 6px 0px;
  width: 100%;
  padding: 10px;
}

#btn_account{
  color: white;
  background-color: #0080FF;
}

#btn_gmail {
  position: relative;
}

#google{
  position: absolute;
  left:5px;
  top:5px;
}

#business {
  background-color: #F3F5F9;
  padding: 40px 0px;
}

#business h4 {
  color: #5B6987;
}

#logos_box  {
  margin: 40px 0px;
}

#logos_box li {
  display: inline-block;
  padding-right: 40px;
  list-style: none;
}

#logos_box li img {
  height: 90px;
}

#business a {
  font-size: 18px;
}

#deploy {
  color: #5B6987;
  margin-top: 60px;

}

 h2,
 h3,
 h4 {
  color: #031B4E;
}

#deploy > p {
  padding-left :15px;
  font-size: 22px;
}

#deploy_list {
  border-left: 1px solid;
  line-height: 50px;
  margin-top:30px;
}

#deploy_list li {
  font-size: 20px;
  padding: 0;
  cursor: pointer;
}

#deploy_list li:hover {
  color: #031B4E;
}

#deploy_list ul {
    padding: 10px;
}

h4 > p {
  font-size: 16px;
}

.deploy_text,
#deploy_text_fix {
  margin-top: 50px;
}

#design {
  background-color:#F3F5F9;
  color: #5B6987;
  padding: 40px 0px;
  margin-top: 40px;
  text-align: center;
}

#design p {
  margin-bottom: 80px;
}

#design img {
  width: 50%;

}

#design i {
  font-size: 40px;
}


#design h2 {
  margin-bottom: 40px;
}

.dot {
  height: 10px;
  width: 10px;
  border: 2px solid #0061FF;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot:hover {
  background-color: #0061FF;
}

#dot_full {
  background-color: #0061FF;
}

#features {
  color: #5B6987;
  padding: 50px 0px;
}

.features_box {
  margin-top: 30px;
}

#customers {
  background-image: linear-gradient(to bottom, #1f31f2 ,#030ba5);
  padding: 60px 0px;
}

#customers h2 {
  margin-bottom: 20px;
 color: white;
}

#customers .col-xs-3:first-of-type {
  text-transform: uppercase;
}

#customers a {
  color: #03D7D2;
}
#customers a:hover {
  color: white;
}

#customers hr {
  margin: 5px 0px;
}

#customers .col-xs-12:first-of-type {
  margin-bottom: 30px;
}

@media screen and (min-width:768px ) {

  #login_box {
    margin: 70px 0px;
  }

  #title {
    width: 90%
  }

  #title p {
    font-size: 22px;
  }

  #deploy {
    width: 90%;
    margin: 60px auto;
    text-align: center;
  }

  #deploy_list{
    text-align: left;
    margin-left: 60px;
  }

  #deploy_list{
    margin: 70px 70px;
  }
}


@media screen and (min-width:1200px) {

  #title h1 {
    font-size: 55px;
  }

  #logos_box li {
    padding-right: 10px;
  }

  #logos_box {
    text-align: center;
  }

  .deploy_text,
  #deploy_text_fix {
  margin-top: 60px;
  }


}
